.centerGoat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  top: 50%;
}

.faqPadding {
    padding: 20px 0 0 0;
}

.faqText {
  border: 2px solid black;
}

.faqImage {
  padding: 5px;
}

td[rowspan] {
  vertical-align: top;
  text-align: left;
}